<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col mt-10 sm:mx-0 lg:mx-40">
<form (ngSubmit)="onLogin()" ngNativeValidate>
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input type="email" id="email" required minlength="10" name="email"  [(ngModel)]="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" type="text" placeholder="Username">
    </div>
    <div class="mb-6">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input type="password" id="password" name="password" required minlength="7" [(ngModel)]="password" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" placeholder="******************">
    </div>
    <div class="flex items-center justify-between">
      <button type="submit" class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">
        Login
      </button>
      <p>
	Don't have an account? <a class="text-red-600 font-semibold hover:text-red-700" routerLink="/register">Register</a>
      </p>
    </div>
    <div class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5">
      <p class="text-center font-semibold mx-4 mb-0">Or</p>
    </div>
</form>
<button (click)="loginWithGoogle()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded w-60 mx-auto"><fa-icon [icon]="faGoogle"></fa-icon> Continue with Google</button>
</div>
