<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col mt-10 sm:mx-0 lg:mx-40">
  <app-alert color="bg-red-100 border-red-500 text-red-900" [show]="showError" text="{{error}}"></app-alert>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input type="email" id="email"  name="email"  formControlName="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" type="text" placeholder="Username">
    </div>
    <p *ngIf="(registerForm.get('email')!.hasError('required')) && submitted"
       class="text-red-600">Email is required</p>
     <p *ngIf="(registerForm.get('email')!.hasError('email')) && submitted"
       class="text-red-600">Email is wrong</p>
    <div formGroupName="passwords">
      <div class="mb-6">
	<label class="block text-grey-darker text-sm font-bold mb-2" for="password">
          Password
	</label>
	<input type="password" id="password" name="password" formControlName="password" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" placeholder="******************">
	<p *ngIf="(registerForm.get('passwords')!.get('password')!.hasError('required')) && submitted"
       class="text-red-600">Password is required</p>
	<p *ngIf="(registerForm.get('passwords')!.get('password')!.hasError('pattern')) && submitted"
       class="text-red-600">Password must contains capital letter, special letter and numbers</p>
      </div>
      <div class="mb-6">
	<label class="block text-grey-darker text-sm font-bold mb-2" for="repassword">
          Reenter password
	</label>
	<input type="password" id="repassword" name="repassword" formControlName="repassword"
	       class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" placeholder="******************">
	 <p *ngIf="(registerForm.get('passwords')!.hasError('mismatching')) && submitted"
       class="text-red-600">Password doesn't match</p>
      </div>
    </div>
    <div class="flex md:flex-row flex-col items-center justify-between">
      <button  type="submit" class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">
	Register
      </button>
      <p>
	Do you have an account? <a class="text-red-600 font-semibold hover:text-red-700" routerLink="/login">Login</a>
      </p>
    </div>
  </form>
</div>
