<!-- <form [formGroup]="photoForm" (ngSubmit)="onSubmit()"> -->
<!--   <div> -->
<!--     <label for="title">title</label> -->
<!--     <input type="text"  id="title" formControlName="title"/> -->
<!--     <p *ngIf="photoForm.get('title')!.hasError('required')">required</p> -->
<!--   </div> -->
<!--   <div> -->
<!--     <label>photo URL</label> -->
<!--     <input type="text" name="url" id="url" formControlName="photoUrl"/> -->
<!--   </div> -->
<!--   <app-button text="Submit" type="submit" color="black"></app-button> -->
<!-- </form> -->



<form [formGroup]="photoForm" (ngSubmit)="onSubmit()" class="bg-white mt-10 p-5 rounded">
  <div class="mb-6">
    <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Title</label>
    <input type="text" id="title" name="title" formControlName="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Photo title" />
    <p *ngIf="(photoForm.get('title')!.hasError('required') || photoForm.get('title')!.hasError('minlength')) && submitted"
       class="text-red-600">Title is required and min length is 6</p>
  </div>
  <div class="mb-6">
    <label for="url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Photo URL</label>
    <input  type="text" name="url" id="url" formControlName="photoUrl" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
    <p *ngIf="(photoForm.get('photoUrl')!.hasError('required')) && submitted" class="text-red-600">Photo URL is required</p>
  </div>
  <app-button  text="Submit" type="submit" cus_class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"></app-button>
  
</form>
