<div
  class="max-w-xl bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <img class="rounded-t-lg px-5 py-2 max-h-60 w-full"  src="{{ photo.photoUrl }}" alt="invalid URL"/>
  <div class="p-5">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ photo.title }}</h5>
    <div class="text-xs font-bold uppercase text-teal-700 mt-1 mb-2">{{ text_date }}</div>
     <app-button text="delete" cus_class="bg-red-700 hover:bg-red-900 py-2 px-7" (click)="deleteClick()"></app-button>
  </div>
</div>
